Repository id-kuznetsov/FakeNFT, pull requests merged in 2025-03, with the labels that each got.

#204 Cat/part 1
  Docs/DecompositionCatalog.md
  FakeNFT.xcodeproj/project.pbxproj
  FakeNFT/DesignSystem/Fonts.swift
  FakeNFT/DesignSystem/Icons.swift
  FakeNFT/DesignSystem/LayoutConstants.swift
  FakeNFT/Foundation/CellsReusingUtils.swift
  FakeNFT/Foundation/UIView+Constraints.swift
  FakeNFT/Helpers/AlertPresenter.swift
  FakeNFT/Helpers/SortOption.swift
  FakeNFT/Info.plist
  FakeNFT/Models/UI/AlertButton.swift
  FakeNFT/Models/UI/AlertModel.swift
  FakeNFT/Models/UI/CollectionUI.swift
  FakeNFT/Models/UI/NftUI.swift
  FakeNFT/Models/UI/UserUI.swift
  FakeNFT/Resources/Assets.xcassets/Colors/YPAlertBackgroundUniversal.colorset/Contents.json
  FakeNFT/Resources/ru.lproj/Localizable.strings
  FakeNFT/SceneDelegate.swift
  FakeNFT/Scenes /Cart/CartViewController.swift
  FakeNFT/Scenes /Catalog/CatalogViewController.swift
  FakeNFT/Scenes /Catalog/Collection/CollectionHeaderView.swift
  FakeNFT/Scenes /Catalog/Collection/CollectionViewController.swift
  FakeNFT/Scenes /Catalog/Collection/CollectionViewModel.swift
  FakeNFT/Scenes /Catalog/Collection/NftCollectionViewCell.swift
  FakeNFT/Scenes /Catalog/Collections/CollectionsTableViewCell.swift
  FakeNFT/Scenes /Catalog/Collections/CollectionsViewController.swift
  FakeNFT/Scenes /Catalog/Collections/CollectionsViewModel.swift
  FakeNFT/Scenes /Catalog/Collections/TestCatalogController.swift
  FakeNFT/Scenes /Common/Protocols/ErrorView.swift
  FakeNFT/Scenes /Common/Protocols/FilterView.swift
  FakeNFT/Scenes /Common/Protocols/RatingView.swift
  FakeNFT/Scenes /Common/Views/AlertPresenter.swift
  FakeNFT/Scenes /Common/Views/CustomNavigationController.swift
  FakeNFT/Scenes /Common/Views/RatingButton.swift
  FakeNFT/Scenes /Common/Views/ShimmerView.swift
  FakeNFT/Scenes /Common/Views/TopAlignedImageView.swift
  FakeNFT/Scenes /NFTRating/NFTRatingAlertViewController.swift
  FakeNFT/Scenes /NFTRating/RatingAlertViewController.swift
  FakeNFT/Scenes /NftDetails/NftDetailPresenter.swift
  FakeNFT/Scenes /NftDetails/NftDetailViewController.swift
  FakeNFT/Scenes /Profile/ProfileViewController.swift
  FakeNFT/Scenes /Statistics/StatisticsViewController.swift
  FakeNFT/Scenes /TabBarController/TabBarController.swift
  FakeNFT/Scenes /WebView/WebViewController.swift
  FakeNFT/Scenes /WebView/WebViewViewModel.swift
  FakeNFT/Services/CollectionsService.swift
  FakeNFT/Services/ExamplePutService.swift
  FakeNFT/Services/ImageLoaderService.swift
  FakeNFT/Services/NftsService.swift
  FakeNFT/Services/Requests/ExamplePutRequest.swift
  FakeNFT/Services/ServicesAssemly.swift
  FakeNFT/Services/UserService.swift
Labels: catalog

#191 Statistics 2/3
  Docs/DecompositionStatistics.md
  FakeNFT.xcodeproj/project.pbxproj
  FakeNFT/DesignSystem/Icons.swift
  FakeNFT/DesignSystem/StatisticsConstants.swift
  FakeNFT/Foundation/MemoryStorage/StatisticsUserDefaultsStorage.swift
  FakeNFT/Helpers/AlertPresenter.swift
  FakeNFT/Helpers/UIBlockingProgressIndicator.swift
  FakeNFT/Resources/Assets.xcassets/Images/ic.checkmark.imageset/Contents.json
  FakeNFT/Resources/Assets.xcassets/Images/ic.checkmark.imageset/Done@2x.png
  FakeNFT/Resources/Assets.xcassets/Images/ic.checkmark.imageset/Done@3x.png
  FakeNFT/Resources/Assets.xcassets/Images/ic.chevron.backward.imageset/Contents.json
  FakeNFT/Resources/Assets.xcassets/Images/ic.chevron.backward.imageset/Light@2x.png
  FakeNFT/Resources/Assets.xcassets/Images/ic.chevron.backward.imageset/Light@3x.png
  FakeNFT/Resources/Assets.xcassets/Images/ic.sort.imageset/Contents.json
  FakeNFT/Resources/Assets.xcassets/Images/ic.sort.imageset/Vector@2x.png
  FakeNFT/Resources/Assets.xcassets/Images/ic.sort.imageset/Vector@3x.png
  FakeNFT/Resources/ru.lproj/Localizable.strings
  FakeNFT/Scenes /Statistics/StatisticsCell.swift
  FakeNFT/Scenes /Statistics/StatisticsViewController.swift
  FakeNFT/Scenes /Statistics/StatisticsViewModel.swift
  FakeNFT/Scenes /Statistics/UserCardViewController.swift
  FakeNFT/Scenes /Statistics/UserCardViewModel.swift
  FakeNFT/Scenes /WebView/WebViewViewController.swift
  FakeNFT/Services/Requests/UserDetailRequest.swift
  FakeNFT/Services/Requests/UsersRequest.swift
  FakeNFT/Services/Requests/WebsiteAccessRequest.swift
  FakeNFT/Services/UserService.swift
Labels: statistics

#208 Cat/part 2
  Docs/DecompositionCatalog.md
  FakeNFT.xcodeproj/project.pbxproj
  FakeNFT.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  FakeNFT/Foundation/DateFormatters+Presets.swift
  FakeNFT/Models/Network/CollectionResponse.swift
  FakeNFT/Models/UI/AlertButton.swift
  FakeNFT/Models/UI/CollectionUI.swift
  FakeNFT/Resources/Assets.xcassets/Images/ic.spinner.imageset/Contents.json
  FakeNFT/Resources/Assets.xcassets/Images/ic.spinner.imageset/Loader@2x.png
  FakeNFT/Resources/Assets.xcassets/Images/ic.spinner.imageset/Loader@3x.png
  FakeNFT/SceneDelegate.swift
  FakeNFT/Scenes /Catalog/Collection/CollectionViewController.swift
  FakeNFT/Scenes /Catalog/Collections/CollectionsServiceAssembly.swift
  FakeNFT/Scenes /Catalog/Collections/CollectionsTableViewCell.swift
  FakeNFT/Scenes /Catalog/Collections/CollectionsViewController.swift
  FakeNFT/Scenes /Catalog/Collections/CollectionsViewModel.swift
  FakeNFT/Scenes /Catalog/Collections/TestCatalogController.swift
  FakeNFT/Scenes /Common/Protocols/ErrorView.swift
  FakeNFT/Scenes /Common/Protocols/LoadingView.swift
  FakeNFT/Scenes /Common/Views/AlertPresenter.swift
  FakeNFT/Scenes /Common/Views/CustomLoadingView.swift
  FakeNFT/Scenes /TabBarController/TabBarController.swift
  FakeNFT/Services/CacheService.swift
  FakeNFT/Services/CollectionService.swift
  FakeNFT/Services/CollectionsService.swift
  FakeNFT/Services/CollectionsSortOptionStorageService.swift
  FakeNFT/Services/NetworkMonitor.swift
  FakeNFT/Services/Requests/CollectionsRequest.swift
  FakeNFT/Services/Requests/RequestConstants.swift
  FakeNFT/Services/ServicesAssemly.swift
Labels: catalog

#214 Cart
  Docs/DecompositionCart.md
  FakeNFT.xcodeproj/project.pbxproj
  FakeNFT.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  FakeNFT/Foundation/MemoryStorage/SortStateStorage.swift
  FakeNFT/Foundation/UIView+Constraints.swift
  FakeNFT/Helpers/AlertPresenter.swift
  FakeNFT/Models/CurrencyCard.swift
  FakeNFT/Models/Network/Currency.swift
  FakeNFT/Models/Network/CurrencyPaymentResponse.swift
  FakeNFT/Models/Network/Nft.swift
  FakeNFT/Models/Network/Order.swift
  FakeNFT/Models/OrderCard.swift
  FakeNFT/Resources/Assets.xcassets/Images/successImage.imageset/56_digital_art_x4@2x.png
  FakeNFT/Resources/Assets.xcassets/Images/successImage.imageset/56_digital_art_x4@3x.png
  FakeNFT/Resources/Assets.xcassets/Images/successImage.imageset/Contents.json
  FakeNFT/Resources/ru.lproj/Localizable.strings
  FakeNFT/Scenes /Cart/AgreementWebView/AgreementWebViewController.swift
  FakeNFT/Scenes /Cart/CartTableViewCell.swift
  FakeNFT/Scenes /Cart/CartTableViewCellDelegate.swift
  FakeNFT/Scenes /Cart/CartViewController.swift
  FakeNFT/Scenes /Cart/CartViewModel.swift
  FakeNFT/Scenes /Cart/CartViewModelProtocol.swift
  FakeNFT/Scenes /Cart/DeleteFromCartView/DeleteViewController.swift
  FakeNFT/Scenes /Cart/DeleteFromCartView/DeleteViewModel.swift
  FakeNFT/Scenes /Cart/PaymentView/PaymentCollectionViewCell.swift
  FakeNFT/Scenes /Cart/PaymentView/PaymentViewController.swift
  FakeNFT/Scenes /Cart/PaymentView/PaymentViewModel.swift
  FakeNFT/Scenes /Cart/PaymentView/PaymentViewModelProtocol.swift
  FakeNFT/Scenes /Cart/SuccesViewController/SuccessViewController.swift
  FakeNFT/Scenes /Common/Views/RatingStackView.swift
  FakeNFT/Scenes /TabBarController/TabBarController.swift
  FakeNFT/Services/OrderService.swift
  FakeNFT/Services/Requests/CurrenciesRequest.swift
  FakeNFT/Services/Requests/OrderPutRequest.swift
  FakeNFT/Services/Requests/OrderRequest.swift
  FakeNFT/Services/Requests/RequestConstants.swift
  FakeNFT/Services/Requests/SetCurrencyRequest.swift
  FakeNFT/Services/ServicesAssemly.swift
Labels: cart

#218 Statistics Full Epic
  Docs/DecompositionCatalog.md
  Docs/DecompositionStatistics.md
  FakeNFT.xcodeproj/project.pbxproj
  FakeNFT/DesignSystem/Fonts.swift
  FakeNFT/DesignSystem/Icons.swift
  FakeNFT/DesignSystem/StatisticsConstants.swift
  FakeNFT/Foundation/MemoryStorage/CachedUsers.swift
  FakeNFT/Foundation/MemoryStorage/StatisticsCacheStorage.swift
  FakeNFT/Foundation/MemoryStorage/StatisticsUserDefaultsStorage.swift
  FakeNFT/Helpers/AlertPresenter.swift
  FakeNFT/Helpers/UIBlockingProgressIndicator.swift
  FakeNFT/Resources/Assets.xcassets/Images/ic.person.crop.circle.fill.imageset/Contents.json
  FakeNFT/Resources/Assets.xcassets/Images/ic.person.crop.circle.fill.imageset/person.crop.circle.fill@2x.png
  FakeNFT/Resources/Assets.xcassets/Images/ic.person.crop.circle.fill.imageset/person.crop.circle.fill@3x.png
  FakeNFT/Resources/ru.lproj/Localizable.strings
  FakeNFT/Scenes /Common/Views/CustomNavigationController.swift
  FakeNFT/Scenes /NftDetails/NftDetailViewController.swift
  FakeNFT/Scenes /Statistics/StatisticsCell.swift
  FakeNFT/Scenes /Statistics/StatisticsViewController.swift
  FakeNFT/Scenes /Statistics/StatisticsViewModel.swift
  FakeNFT/Scenes /Statistics/User.swift
  FakeNFT/Scenes /Statistics/UserCardViewController.swift
  FakeNFT/Scenes /Statistics/UserCardViewModel.swift
  FakeNFT/Scenes /Statistics/UserNftCollectionCell.swift
  FakeNFT/Scenes /Statistics/UserNftCollectionViewController.swift
  FakeNFT/Scenes /Statistics/UserNftCollectionViewModel.swift
  FakeNFT/Scenes /TabBarController/TabBarController.swift
  FakeNFT/Services/Requests/OrderRequest.swift
  FakeNFT/Services/Requests/RequestConstants.swift
  FakeNFT/Services/Requests/UpdateUserLikesDTO.swift
  FakeNFT/Services/Requests/UpdateUserLikesRequest.swift
  FakeNFT/Services/Requests/UserDetailRequest.swift
  FakeNFT/Services/Requests/UserLikesRequest.swift
  FakeNFT/Services/Requests/UserLikesResponse.swift
  FakeNFT/Services/Requests/UsersRequest.swift
  FakeNFT/Services/Requests/WebsiteAccessRequest.swift
  FakeNFT/Services/ServicesAssemly.swift
  FakeNFT/Services/UserService.swift
Labels: statistics

#221 Cart update and loacalization
  FakeNFT.xcodeproj/project.pbxproj
  FakeNFT/Resources/en.lproj/Localizable.strings
  FakeNFT/Scenes /Cart/CartViewModel.swift
  FakeNFT/Services/OrderService.swift
Labels: project
